@import "./assets/styles/media-queries";

.content {
  background: linear-gradient(
    rgb(49, 46, 129),
    rgb(30, 58, 138),
    rgb(12, 74, 110)
  );
  display: flex;
  justify-content: center;
  align-items: flex-start;
  .sidebar {
    flex: 0 0 20rem;
    background: white;
    padding: 1.5rem;
    margin-right: 2rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    .categories {
      li {
        cursor: pointer;
        transition: color 0.2s;
        margin-bottom: 0.6rem;
        &:hover {
          color: var(--dark);
          strong {
            color: var(--primary);
          }
        }
      }
    }
  }
  .articles-container {
    flex: 1;
    .article {
      background: white;
      padding: 1rem 3rem;
      border-radius: 0.5rem;
      margin-bottom: 2rem;
      box-shadow: var(--box-shadow);
      @include xs {
        padding: 1rem;
      }
      .article-title-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 1rem 0;
        @include xs {
          justify-content: center;
          flex-direction: column;
        }
        h2 {
          margin: 0;
          text-transform: capitalize;
        }
        p {
          margin-left: 1rem;
        }
      }
      .article-author-container {
        display: flex;
        align-items: center;
        img {
          border-radius: 100%;
          height: 5vh;
        }
        .article-author {
          margin: 0;
          margin-left: 1rem;
        }
      }
      .article-content {
        padding: 1rem 0;
        white-space: pre-line;
      }
      .article-actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .btn {
          margin: 0 0.5rem;
          padding: 0.5rem;
        }
      }
    }
  }
}
