// On definie des variables pour des couleurs

:root {
  // couleurs
  --primary: #4a69bd;
  --dark: #1e3799;
  --accent: #34495e;
  --text: #1a1a1a;
  --divider: #bdc3c7;
  --dark-grey: #282c34;
  --error: #e74c3c;
  // autre
  --font-family: "Rajdhani", sans-serif;
  --box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%),
    0 1px 3px 1px rgb(60 64 67 / 15%);
}
